{% extends "base.html.twig" %}
 {% block body %}
 <br><br>
 <div style="text-align: center">
<h1 style="font-size: 40px;color:red">Smart Play has been committed to providing safe, affordable, innovative and educational products since 2008</h1>
<p>Nous concevons et fabriquons des produits qui enrichiront l'esprit grandissant de votre enfant. Nos jouets et jeux aident les enfants à développer leurs compétences vitales nécessaires à un bon départ dans la vie. Les produits sont destinés à enseigner une gamme complète de compétences d'apprentissage précoce - motricité fine, lecture, vocabulaire, écriture, mathématiques, résolution de problèmes et géographie. De plus, une large gamme de nos produits bilingues enseigne des langues étrangères comme l'espagnol ou le français.</p>
</div>
 {% endblock %}