{% extends 'base.html.twig' %}

{% block title %}description du site{% endblock %}

{% block body %}
<br>
<h1 style="text-align:center;font-size: 30px;color:Blue">Notre Partenaires<h1><br>
<div style="text-align: center">
<img style="width:30% ;height:30%;border-radius: 50%;" src="https://s3.business1-res.com/com_990259_phpJofudT5abcdd4d0033a0.68045021.jpeg">
<img style="width:30% ;height:30%;" src="https://s3.business1-res.com/com_987233_php0QqmEP5b444276a95e61.72658563.png">
<img style="width:30% ;height:30%;" src="https://i.pinimg.com/originals/c0/05/cf/c005cfbedc33bd9f6af3a7b42071a2f9.jpg">
<img style="width:30% ;height:30%;" src="https://www.icenews.is/wp-content/uploads/2014/11/Toys-R-Us-Logo.png">
</div>
{% endblock %}